# VS / build / binaries
.vs/
.vscode/
Binaries/
**/Intermediates/
bin/
build/
out/
Output/
*.obj
*.pch
*.pdb
*.ilk
*.log
*.tlog
*.cache

# Progetti VS
*.vcxproj.user
*.user
*.suo

# vcpkg (solo se dentro al repo)
vcpkg/buildtrees/
vcpkg/packages/
vcpkg/downloads/
vcpkg/installed/

# cartelle locali varie
packages/

# Installer output
*.msi
*.exe
*.zip

# OS junk
*.DS_Store
Thumbs.db
